# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\ya903\Desktop\MMSLAB-Android-Kotlin-2019\MMSLAB-Android-Kotlin-2019\paperScissorStone\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
